[Unit]
Description=Gunicorn instance to serve dobot
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/dobot
#Environment="PATH=/home/pi/dobot/dobotenv/bin"
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:dobot.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
